<script src="{{ 'cart.js' | asset_url }}" defer="defer"></script>
<div
   class="cart is-inverted"
   style="
   transform: translateX(100%) translateZ(0);
   opacity: 1;
   visibility: visible;
   pointer-events: all;"
   >






    
   <div class="cart--inner" id="main-cart-footer" data-id="{{ section.id }}">
      <div class="cart--header">
         <div class="cart--title">
            Your Cart <span class="cart--count">({{ cart.item_count }})</span>
         </div>
         <button class="cart-toggle cart-close">Done</button>
      </div>
      <div class="cart--content">
         {%- if cart == empty -%}
         <div class="cart--empty">
            <p>Your cart is empty</p>
         </div>
         {%- endif -%}
         {%- if shop.customer_accounts_enabled -%}
         <h2 class="cart__login-title">{{ 'sections.cart.login.title' | t }}</h2>
         <p class="cart__login-paragraph">
            {{ 'sections.cart.login.paragraph_html' | t: link: routes.account_login_url }}
         </p>
         {%- endif -%}   
         <div class="cart--items">


            
            
            <cart-items class="{% if cart == empty %} is-empty{% endif %}">
               {% comment %} <div class="title-wrapper-with-link">
                 <h1 class="title title--primary">{{ 'sections.cart.title' | t }}</h1>
               </div>
             
               <div class="cart__warnings">
                {% if cart == empty %} is-empty
                <h1 class="cart__empty-text">{{ 'sections.cart.empty' | t }}</h1>
             
                {%- if shop.customer_accounts_enabled -%}
                  <h2 class="cart__login-title">{{ 'sections.cart.login.title' | t }}</h2>
                  <p class="cart__login-paragraph">
                    {{ 'sections.cart.login.paragraph_html' | t: link: routes.account_login_url }}
                  </p>
                {%- endif -%}    
                {% endif %}

               </div> {% endcomment %}
             
               <form action="{{ routes.cart_url }}" class="cart__contents critical-hidden" method="post" id="cart">
                 <div class="cart__items" id="main-cart-items" data-id="{{ section.id }}">
                   <div class="js-contents">
                     {%- if cart != empty -%}
                           {%- for item in cart.items -%}


                              <div class="cart-item" id="CartItem-{{ item.index | plus: 1 }}">
                                 <figure class="cart-item--photo">
                                  {% if item.image %}
                                    <img class="cart-item__image"
                                       src="{{ item.image | img_url: '300x' }}"
                                       alt="{{ item.image.alt | escape }}"
                                       loading="lazy"
                                       width="150"
                                       height="{{ 150 | divided_by: item.image.aspect_ratio | ceil }}"
                                     >
                                 {% endif %}
                                 </figure>
                                 <div class="cart-item--details">
                                    <div class="cart-item--header">
                                       <div class="cart-item--title">

                                          {%- if item.product.has_only_default_variant == false or item.properties.size != 0 or item.selling_plan_allocation != nil -%}
                                             <dl>
                                               {%- if item.product.has_only_default_variant == false -%}
                                                 {%- for option in item.options_with_values -%}
                                                   <div class="cart-item--variant">
                                                     {{ option.name }} / {{ option.value }}
                                                   </div>
                                                 {%- endfor -%}
                                               {%- endif -%}
                       
                                               {%- for property in item.properties -%}
                                                 {%- assign property_first_char = property.first | slice: 0 -%}
                                                 {%- if property.last != blank and property_first_char != '_' -%}
                                                   <div class="product-option">
                                                     <dt>{{ property.first }}: </dt>
                                                     <dd>
                                                       {%- if property.last contains '/uploads/' -%}
                                                         <a href="{{ property.last }}" class="link" target="_blank">
                                                           {{ property.last | split: '/' | last }}
                                                         </a>
                                                       {%- else -%}
                                                         {{ property.last }}
                                                       {%- endif -%}
                                                     </dd>
                                                   </div>
                                                 {%- endif -%}
                                               {%- endfor -%}
                                             </dl>
                       
                                             <p class="product-option">{{ item.selling_plan_allocation.selling_plan.name }}</p>
                                           {%- endif -%}

                                          {% comment %} <div class="cart-item--variant">XL / 79</div> {% endcomment %}
                                          <h2 class="cart-item--name"><a class="cart-item--link" href="{{ item.url }}">{{ item.product.title | escape }}</a></h2>
                                       </div>

                                       <div class="price"><span class="price--current">
                                          {%- if item.original_price != item.final_price -%}
                                             <div class="cart-item__discounted-prices">
                                             <span class="visually-hidden">
                                                {{ 'products.product.price.regular_price' | t }}
                                             </span>
                                             <s class="cart-item__old-price product-option">
                                                {{- item.original_price | money -}}
                                             </s>
                                             <span class="visually-hidden">
                                                {{ 'products.product.price.sale_price' | t }}
                                             </span>
                                             <strong class="cart-item__final-price product-option">
                                                {{ item.final_price | money }}
                                             </strong>
                                             </div>
                                          {%- else -%}
                                             <div class="product-option">
                                             {{ item.original_price | money }}
                                             </div>
                                          {%- endif -%}
                                       </span></div>
                                       <ul class="discounts list-unstyled" role="list" aria-label="{{ 'customer.order.discount' | t }}">
                                          {%- for discount in item.discounts -%}
                                            <li class="discounts__discount">
                                              {%- render 'icon-discount' -%}
                                              {{ discount.title }}
                                            </li>
                                          {%- endfor -%}
                                        </ul>
                                    </div>
                                    <div class="cart-item--tools">
                                       <div class="cart-item--quantity">
                                          {% comment %} <div class="counter is-small is-inverted">
                                             <button aria-label="Decrease quantity by one" class="counter--down">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" aria-labelledby="minus-40811840700581" class="icon">
                                                   <title id="minus-40811840700581">Minus</title>
                                                   <rect x="20" y="46" width="60" height="8"></rect>
                                                </svg>
                                             </button>
                                             <div class="counter--amount">
                                                <div class="counter--input" style="transform: translateY(0%) translateZ(0px);"><input aria-label="Manually enter quantity" type="number" inputmode="numeric" min="1" value="1"></div>
                                             </div>
                                             <button aria-label="Increase quantity by one" class="counter--up">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" aria-labelledby="plus-40811840700581" class="icon">
                                                   <title id="plus-40811840700581">Plus</title>
                                                   <polygon points="80 46 54 46 54 20 46 20 46 46 20 46 20 54 46 54 46 80 54 80 54 54 80 54 80 46"></polygon>
                                                </svg>
                                             </button>
                                          </div>
                                       </div> {% endcomment %}
                                       <quantity-input class="quantity cart-item--quantity">
                                          <button class="quantity__button no-js-hidden" name="minus" type="button">
                                            <span class="visually-hidden">{{ 'products.product.quantity.decrease' | t: product: item.product.title | escape }}</span>
                                            {% render 'icon-minus' %}
                                          </button>
                                          <input class="quantity__input"
                                            type="number"
                                            name="updates[]"
                                            value="{{ item.quantity }}"
                                            min="0"
                                            aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}"
                                            id="Quantity-{{ item.index | plus: 1 }}"
                                            data-index="{{ item.index | plus: 1 }}"
                                          >
                                          <button class="quantity__button no-js-hidden" name="plus" type="button">
                                            <span class="visually-hidden">{{ 'products.product.quantity.increase' | t: product: item.product.title | escape }}</span>
                                            {% render 'icon-plus' %}
                                          </button>
                                        </quantity-input>
                                       <cart-remove-button id="Remove-{{ item.index | plus: 1 }}" data-index="{{ item.index | plus: 1 }}">
                                          <a href="{{ item.url_to_remove }}" class="btn is-text " aria-label="{{ 'sections.cart.remove_title' | t: title: item.title }}">
                                            Remove
                                          </a>
                                        </cart-remove-button>
                                    </div>
                                 </div>
                              </div>
                            </div>

                             
                           {%- endfor -%}
                     {%- endif -%}
                   </div>
                 </div>
             
                 <p class="visually-hidden" id="cart-live-region-text" aria-live="polite" role="status"></p>
                 <p class="visually-hidden" id="shopping-cart-line-item-status" aria-live="polite" aria-hidden="true" role="status">{{ 'accessibility.loading' | t }}</p>
               </form>
             </cart-items>
             <div id="cart-errors"></div>


            </div>
      </div>


      {%- if cart != empty -%}
         <div class="cart--footer">
            <div class="cart--subtotal"><span>Subtotal</span><span>{{ cart.total_price | money_with_currency }}</span></div>
            <button type="submit" id="checkout" class="btn is-primary is-large is-block" name="checkout"{% if cart == empty %} disabled{% endif %} form="cart">
              {{ 'sections.cart.checkout' | t }}
            </button>
            <p class="cart--message">Get a 50 Euros voucher to spend for order over 200 Euros with code LAUNCH50</p>
         </div>
      {%- endif -%}


   </div>
</div>
<div class="cart--backdrop"></div>



<script>
  class CartNote extends HTMLElement {
    constructor() {
      super();

      this.addEventListener('change', debounce((event) => {
        const body = JSON.stringify({ note: event.target.value });
        fetch(`${routes.cart_update_url}`, {...fetchConfig(), ...{ body }});
      }, 300))
    }
  }

  customElements.define('cart-note', CartNote);
</script>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    function isIE() {
      const ua = window.navigator.userAgent;
      const msie = ua.indexOf('MSIE ');
      const trident = ua.indexOf('Trident/');

      return (msie > 0 || trident > 0);
    }

    if (!isIE()) return;
    const cartSubmitInput = document.createElement('input');
    cartSubmitInput.setAttribute('name', 'checkout');
    cartSubmitInput.setAttribute('type', 'hidden');
    document.querySelector('#cart').appendChild(cartSubmitInput);
    document.querySelector('#checkout').addEventListener('click', function(event) {
      document.querySelector('#cart').submit();
    });
  });
</script>