{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-product-grid.css' | asset_url | stylesheet_tag }}

<link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'template-collection.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-slider.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'template-collection.css' | asset_url | stylesheet_tag }}</noscript>

{%- liquid
  assign products_to_display = section.settings.collection.all_products_count

  if section.settings.collection.all_products_count > section.settings.products_to_show
    assign products_to_display = section.settings.products_to_show
    assign more_in_collection = true
  endif
-%}


<div class="marquee-section ">
  <div  class="marquee">
    <div class="featured">
        <div class="marquee--item slide">
          <span class="marquee--text">Featured Products</span>
        </div>
        <div class="marquee--item slide">
          <span class="marquee--text">Featured Products</span>
        </div>
        <div class="marquee--item slide">
          <span class="marquee--text">Featured Products</span>
        </div>
        <div class="marquee--item slide">
          <span class="marquee--text">Featured Products</span>
        </div>
        <div class="marquee--item slide">
          <span class="marquee--text">Featured Products</span>
        </div>
        <div class="marquee--item slide">
          <span class="marquee--text">Featured Products</span>
        </div>
        <div class="marquee--item slide">
          <span class="marquee--text">Featured Products</span>
        </div>
        <div class="marquee--item slide">
          <span class="marquee--text">Featured Products</span>
        </div>
        <div class="marquee--item slide">
          <span class="marquee--text">Featured Products</span>
        </div>
        <div class="marquee--item slide">
          <span class="marquee--text">Featured Products</span>
        </div>
    </div>
  </div>
</div>

<style>
  .marquee--text{
    white-space: nowrap;
  }
</style>
<div class='marquee-section'>
  <div class='marquee'>
    <div class="slideshow js-slideshow ">
      {% comment %} marquee--item {% endcomment %}
      {%- for product in section.settings.collection.products limit: section.settings.products_to_show -%}
        <div class="marquee--product slide">
        {% render 'product-card',
          product_card_product: product,
          media_size: section.settings.image_ratio,
          show_secondary_image: section.settings.show_secondary_image,
          add_image_padding: section.settings.add_image_padding,
          show_vendor: section.settings.show_vendor,
          show_image_outline: section.settings.show_image_outline,
          show_rating: section.settings.show_rating
        %}
      </div>
      
    {%- else -%}
      {%- for i in (1..4) -%}
        <div class="slide">
        <div class="grid__item">
          {% render 'product-card-placeholder' %}
        </div>
      </div>
      {%- endfor -%}
    {%- endfor -%}
    {%- for product in section.settings.collection.products limit: section.settings.products_to_show -%}
      <div class="marquee--product slide">
      {% render 'product-card',
        product_card_product: product,
        media_size: section.settings.image_ratio,
        show_secondary_image: section.settings.show_secondary_image,
        add_image_padding: section.settings.add_image_padding,
        show_vendor: section.settings.show_vendor,
        show_image_outline: section.settings.show_image_outline,
        show_rating: section.settings.show_rating
      %}
    </div>
    
  {%- else -%}
    {%- for i in (1..4) -%}
      <div class="slide">
      <div class="grid__item">
        {% render 'product-card-placeholder' %}
      </div>
    </div>
    {%- endfor -%}
  {%- endfor -%}
    </div>
  </div>
</div>

<script>

  //
  //   Variables
  //
  //////////////////////////////////////////////////////////////////////
  
  // Play with this value to change the speed
  let tickerSpeed = 2;
  
  let flickity = null;
  let featured = null;
  let isPaused = false;
  const slideshowEl = document.querySelector('.js-slideshow');
  const featuredEl = document.querySelector('.featured');
  
  
  //
  //   Functions
  //
  //////////////////////////////////////////////////////////////////////
  
  const update = () => {
    if (isPaused) return;
    if (flickity.slides) {
      flickity.x = (flickity.x - tickerSpeed) % flickity.slideableWidth;
      flickity.selectedIndex = flickity.dragEndRestingSelect();
      flickity.updateSelectedSlide();
      flickity.settle(flickity.x);
    }

    if (featured.slides) {
      featured.x = (featured.x - tickerSpeed) % featured.slideableWidth;
      featured.selectedIndex = featured.dragEndRestingSelect();
      featured.updateSelectedSlide();
      featured.settle(featured.x);
    }
    window.requestAnimationFrame(update);
  };
  
  const pause = () => {
    isPaused = true;
  };
  
  const play = () => {
    if (isPaused) {
      isPaused = false;
      window.requestAnimationFrame(update);
    }
  };
  
  
  //
  //   Create Flickity
  //
  //////////////////////////////////////////////////////////////////////
  
  flickity = new Flickity(slideshowEl, {
    autoPlay: false,
    prevNextButtons: false,
    pageDots: false,
    draggable: true,
    wrapAround: true,
    selecedAttraction: 0,
    friction: 0.15 });


  featured = new Flickity(featuredEl, {
    autoPlay: false,
    prevNextButtons: false,
    pageDots: false,
    draggable: false,
    wrapAround: true,
    selecedAttraction: 0,
    friction: 0.15 });
  
  featured.x = 0;
  flickity.x = 0;
  
  

  function checkWrap(
    carouselSelector = '.carousel', cellSelector = '.carousel-cell') {
  // if sum(carousel-cell width) > carousel width then wrap else not
  const carousel = document.querySelector(carouselSelector);
  const cells = carousel.querySelectorAll(cellSelector);

  if (carousel && cells) {
    let cellsTotalWidth = 0;
    cells.forEach((cell) => {
      const style = window.getComputedStyle(cell);
      cellsTotalWidth += parseFloat(style.width) +
          parseFloat(style.marginRight) +
          parseFloat(style.marginLeft);
    });
    const carouselWidth = parseFloat(window.getComputedStyle(carousel).width);
    return cellsTotalWidth > carouselWidth;
  }

  return false;
}


  //
  //   Add Event Listeners
  //
  //////////////////////////////////////////////////////////////////////
  
  slideshowEl.addEventListener('mouseenter', pause, false);
  slideshowEl.addEventListener('focusin', pause, false);
  slideshowEl.addEventListener('mouseleave', play, false);
  slideshowEl.addEventListener('focusout', play, false);

  window.addEventListener('resize', (ev) => {
    if ('destroy' in flkty) {
      flkty.destroy();
      flktyOptions.wrapAround = checkWrap();
      flkty = new Flickity(flktySelector, flktyOptions);
    }
  });
  flickity.on('dragStart', () => {
    isPaused = true;
  });
  
  //
  //   Start Ticker
  //
  //////////////////////////////////////////////////////////////////////
  
  update();
  
  </script>

{% schema %}
{
  "name": "t:sections.featured-collection.name",
  "tag": "section",
  "class": "spaced-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Featured collection",
      "label": "t:sections.featured-collection.settings.title.label"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "t:sections.featured-collection.settings.collection.label"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 12,
      "step": 2,
      "default": 4,
      "label": "t:sections.featured-collection.settings.products_to_show.label"
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "default": true,
      "label": "t:sections.featured-collection.settings.show_view_all.label"
    },
    {
      "type": "checkbox",
      "id": "swipe_on_mobile",
      "default": false,
      "label": "t:sections.featured-collection.settings.swipe_on_mobile.label"
    },
    {
      "type": "header",
      "content": "t:sections.featured-collection.settings.header.content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.featured-collection.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.featured-collection.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.featured-collection.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.featured-collection.settings.image_ratio.label"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "t:sections.featured-collection.settings.show_secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "add_image_padding",
      "default": false,
      "label": "t:sections.featured-collection.settings.add_image_padding.label"
    },
    {
      "type": "checkbox",
      "id": "show_image_outline",
      "default": true,
      "label": "t:sections.featured-collection.settings.show_image_outline.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.featured-collection.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "t:sections.featured-collection.settings.show_rating.label",
      "info": "t:sections.featured-collection.settings.show_rating.info"
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured-collection.presets.name"
    }
  ]
}
{% endschema %}
