{%- liquid
    assign variant_images = product.images | where: 'attached_to_variant?', true | map: 'src' 
    assign media_count = product.media.size
    if section.settings.hide_variants
      assign media_count = media_count | minus: variant_images.size | plus: 1
    endif
    -%}
  {%- if featured_media != null -%}
  {%- assign featured_media = product.selected_or_first_available_variant.featured_media -%}
  {%- assign media = product.selected_or_first_available_variant.featured_media -%}
    <div class="gallery-cell product__media-item grid__item slider__slide{% if media.media_type != 'image' %} product__media-item--full{% endif %}{% if section.settings.hide_variants and variant_images contains media.src %} product__media-item--variant{% endif %}"
          data-media-id="{{ section.id }}-{{ media.id }}"
          style="display: flex; flex-wrap: nowrap; max-height: 60vh; background: white;"
          id="Slide-Thumbnails-{{ section.id }}-0">
          {%- assign media_position = media_position | default: 0 | plus: 1 -%}
          <button class="thumbnail {% if featured_media.preview_image.aspect_ratio > 1 %}thumbnail--wide{% else %}thumbnail--narrow{% endif %}"
          aria-label="{%- if featured_media.media_type == 'image' -%}{{ 'products.product.media.load_image' | t: index: media_index }}{%- elsif featured_media.media_type == 'model' -%}{{ 'products.product.media.load_model' | t: index: media_index }}{%- elsif featured_media.media_type == 'video' or featured_media.media_type == 'external_video' -%}{{ 'products.product.media.load_video' | t: index: media_index }}{%- endif -%}"
          aria-current="true"
          aria-controls="GalleryViewer-{{ section.id }}"
          aria-describedby="Thumbnail-{{ section.id }}-0"
        >
          <img
            srcset="{% if media.preview_image.width >= 288 %}{{ media.preview_image | img_url: '288x' }} 288w,{% endif %}
              {% if media.preview_image.width >= 576 %}{{ media.preview_image | img_url: '576x' }} 576w,{% endif %}
              {% if media.preview_image.width >= 750 %}{{ media.preview_image | img_url: '750x' }} 750w,{% endif %}
              {% if media.preview_image.width >= 1100 %}{{ media.preview_image | img_url: '1100x' }} 1100w,{% endif %}
              {% if media.preview_image.width >= 1500 %}{{ media.preview_image | img_url: '1500x' }} 1500w,{% endif %}
              {{ media.preview_image | img_url: 'master' }} {{ media.preview_image.width }}w"
            src="{{ media | img_url: '1500x' }}"
            sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | times: 0.64 | round }}px, (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw - 4rem)"
            loading="lazy"
            width="576"
            height="{{ 576 | divided_by: media.preview_image.aspect_ratio }}"
            alt="{{ media.preview_image.alt | escape }}"
            style="    max-height: 100%;
            width: auto;"
            class="product-image"
          >
          {% comment %} {% render 'product-thumbnail', media: media,  position: 'featured', loop: section.settings.enable_video_looping, modal_id: section.id, xr_button: true %} {% endcomment %}
          {% comment %} <img id="Thumbnail-{{ section.id }}-0" srcset="{% if featured_media.preview_image.width >= 54 %}{{ featured_media.preview_image | img_url: '54x' }} 54w,{% endif %}
            {% if featured_media.preview_image.width >= 74 %}{{ featured_media.preview_image | img_url: '74x' }} 74w,{% endif %}
            {% if featured_media.preview_image.width >= 104 %}{{ featured_media.preview_image | img_url: '104x' }} 104w,{% endif %}
            {% if featured_media.preview_image.width >= 162 %}{{ featured_media.preview_image | img_url: '162x' }} 162w,{% endif %}
            {% if featured_media.preview_image.width >= 208 %}{{ featured_media.preview_image | img_url: '208x' }} 208w,{% endif %}
            {% if featured_media.preview_image.width >= 324 %}{{ featured_media.preview_image | img_url: '324x' }} 324w,{% endif %}
            {% if featured_media.preview_image.width >= 416 %}{{ featured_media.preview_image | img_url: '416x' }} 416w,{% endif %},
            {{ featured_media.preview_image | img_url: 'master' }} {{ media.preview_image.width }}w"
            src="{{ featured_media | img_url: '416x' }}"
            sizes="(min-width: {{ settings.page_width }}px) calc(({{ settings.page_width | minus: 100 | times: media_width | round }} - 4rem) / 4), (min-width: 990px) calc(({{ media_width | times: 100 }}vw - 4rem) / 4), (min-width: 750px) calc((100vw - 15rem) / 8), calc((100vw - 14rem) / 3)"
            alt="{{ featured_media.alt | escape }}"
            height="208"
            width="208"
            loading="lazy"
          > {% endcomment %}
        </button>
    </div>
  {% endif %}
{%- for media in product.media -%}
  {%- unless media.id == product.selected_or_first_availasble_variant.featured_media.id -%}
    <div class=" gallery-cell product__media-item grid__item slider__slide{% if media.media_type != 'image' %} product__media-item--full{% endif %}{% if section.settings.hide_variants and variant_images contains media.src %} product__media-item--variant{% endif %}" data-media-id="{{ section.id }}-{{ media.id }}" style="display: flex; flex-wrap: nowrap; justify-content: center;">
      <button class="thumbnail {% if media.preview_image.aspect_ratio > 1 %}thumbnail--wide{% else %}thumbnail--narrow{% endif %}"
      aria-label="{%- if media.media_type == 'image' -%}{{ 'products.product.media.load_image' | t: index: media_index }}{%- elsif media.media_type == 'model' -%}{{ 'products.product.media.load_model' | t: index: media_index }}{%- elsif media.media_type == 'video' or media.media_type == 'external_video' -%}{{ 'products.product.media.load_video' | t: index: media_index }}{%- endif -%}"
      {% if media == product.selected_or_first_available_variant.featured_media or product.selected_or_first_available_variant.featured_media == null and forloop.index == 1 %} aria-current="true"{% endif %}
      aria-controls="GalleryViewer-{{ section.id }}"
      aria-describedby="Thumbnail-{{ section.id }}-{{ forloop.index }}"
      style="display: flex; flex-wrap: nowrap; max-height: 60vh; background: white;"
    >
      <img
        srcset="{% if media.preview_image.width >= 288 %}{{ media.preview_image | img_url: '288x' }} 288w,{% endif %}
          {% if media.preview_image.width >= 576 %}{{ media.preview_image | img_url: '576x' }} 576w,{% endif %}
          {% if media.preview_image.width >= 750 %}{{ media.preview_image | img_url: '750x' }} 750w,{% endif %}
          {% if media.preview_image.width >= 1100 %}{{ media.preview_image | img_url: '1100x' }} 1100w,{% endif %}
          {% if media.preview_image.width >= 1500 %}{{ media.preview_image | img_url: '1500x' }} 1500w,{% endif %}
          {{ media.preview_image | img_url: 'master' }} {{ media.preview_image.width }}w"
        src="{{ media | img_url: '1500x' }}"
        sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | times: 0.64 | round }}px, (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw - 4rem)"
        loading="lazy"
        width="576"
        height="{{ 576 | divided_by: media.preview_image.aspect_ratio }}"
        alt="{{ media.preview_image.alt | escape }}"
        style="    max-height: 100%;
        width: auto;"
        class="product-image"
      >
        {% comment %} {% render 'product-thumbnail', media: media,  position: 'featured', loop: section.settings.enable_video_looping, modal_id: section.id, xr_button: true %} {% endcomment %}
      {% comment %} <img id="Thumbnail-{{ section.id }}-{{ forloop.index }}"
        srcset="{% if media.preview_image.width >= 59 %}{{ media.preview_image | img_url: '59x' }} 59x,{% endif %}
                {% if media.preview_image.width >= 118 %}{{ media.preview_image | img_url: '118x' }} 118w,{% endif %}
                {% if media.preview_image.width >= 84 %}{{ media.preview_image | img_url: '84x' }} 84w,{% endif %}
                {% if media.preview_image.width >= 168 %}{{ media.preview_image | img_url: '168x' }} 168w,{% endif %}
                {% if media.preview_image.width >= 130 %}{{ media.preview_image | img_url: '130x' }} 130w,{% endif %}
                {% if media.preview_image.width >= 260 %}{{ media.preview_image | img_url: '260x' }} 260w{% endif %}"
        src="{{ media | img_url: '84x84' }}"
        sizes="(min-width: 1200px) calc((1200px - 19.5rem) / 12), (min-width: 750px) calc((100vw - 16.5rem) / 8), calc((100vw - 8rem) / 5)"
        alt="{{ media.alt | escape }}"
        height="200"
        width="200"
        loading="lazy"
      > {% endcomment %}
      
    </button>
    </div>
  {%- endunless -%}
{%- endfor -%}
